---
---
@import 'define';


$diana-body-color: #ffffff;
$diana-separator-color: #808080;
$diana-footer-bg-color: #000000;

$diana-primary-content-color: #000000;
$diana-primary-content-background: #ffffff;

$diana-second-content-color: #808080;
$diana-second-content-background: #f5f5f5;

$service-img-width: 20%;

@mixin float-serivce() {
  display:inline-block;
  float:none;
  vertical-align:middle;
}

@mixin cont-text-padding($padding) {
  padding: $padding 0px;
}

@mixin service-h4() {
  h4 {
    font-weight: 400; line-height: 1.5;
  }
}

body {
  background-image: url(/static/img/cnc-top-1600.jpg);
  background-size: contain;
  color: $diana-body-color;
}

@import 'header';

.jumbotron {
  background: none;
  margin-bottom: 0px;
  padding: 7% 0px;
  .container {
    border-radius: 20px;
    padding: 3% 15px;
  }
  h1 {
    font-weight: 600;
  }
}

.separator {
  color: $diana-second-content-color;
  height: 30px;
  a {
    color: $diana-separator-color;
  }
}

.content {
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 25px 0px;
    text-align: center;
  }
}

.feature {
  padding-top: 75px;
  @extend .part-name;
  .thumbnail {
    border: none;
  }
  h2 {
    color: $diana-primary-content-color;
  }
}

div.service-1, div.service-2, div.service-3, div.service-4, div.experience {
  div.row {
      margin: 0px;
  }
}

.part-name {
  background: #ffffff;
  color: $diana-primary-content-color;
  h2 {
    font-size: 48px;
    margin: 0px;
    padding: 25px 0px;
  }
}

.service-1 {
  color: $diana-second-content-color;
  p {
    font-size: 22px;
  }
  background-color: $diana-second-content-background;
  .cont-body {
  }
  .cont-img {
    img {
      padding:100px 0px;
      width: 100%;
    }
  }
  .cont-text {
    padding:100px 0px;
  }
}

.service-2 {
  color: $diana-second-content-color;
  @include service-h4();
  @extend .part-name;
  img {
    width: $service-img-width;
  }
  .cont-body {
    background-color: $diana-second-content-background;
    border-radius: 110px 0px 0px 70px;
  }
  .cont-img {
  }
  .cont-text {
    @include cont-text-padding(75px);
    @include float-serivce();

  }
  .col-lg-4, .col-lg-8 {
  }
}

.service-3 {
  @include service-h4();
  .cont-base {
    background-color: $diana-primary-content-background;
    border-radius: 0px 80px 60px 0px;
  }
  .cont-body {
    background-color: $diana-second-content-background;
    color: #000000;
    padding-left: 0px;
  }
  .cont-img {
  }
  .cont-text {
    @include cont-text-padding(75px);
  }
  .glyphicon {
    color: $diana-primary-color;
    padding-right: 10px;
  }
}

.service-4 {
  color: $diana-second-content-color;
  @include service-h4();
  @extend .part-name;
  img {
    width: $service-img-width;
  }
  .cont-body {
    background-color: $diana-second-content-background;
    border-radius: 70px 0px 0px 150px;
  }
  .cont-img {
  }
  .cont-text {
    @include cont-text-padding(75px);
    @include float-serivce();
  }
}

.experience {
  color: $diana-primary-content-color;
  @include cont-text-padding(75px);
  @extend .part-name;
  h3 {
    border-bottom: 2px solid $diana-primary-color;
    padding-bottom: 5px;
  }
  .thumbnail {
    border: none;
  }
}

.button-center {
  text-align: center;
}

@import 'footer';


@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron {
    h1 {
      font-size: 40px;
    }
  }
  .service-1 {
    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .jumbotron {
    h1 {
      font-size: 32px;
    }
  }
  .service-2, .service-3, .service-4 {
    .cont-text h2 {
      font-size: 24px;
      font-weight: 600;
    }
    h4 {
      font-size: 14px;
    }
  }
  .service-1 {
    p {
      font-size: 14px;
    }
  }
  .experience, .feature, .experience {
    h2 {
      font-size: 36px;
      font-weight: 600;
    }
  }
  .feature {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  body {
    background-color: #000000;
    background-image: none;
  }
  .jumbotron {
    h1 {
      font-size: 24px;
    }
  }
  .service-1, .service-2, .service-3, .service-4 {
    .cont-text {
      @include cont-text-padding(25px);
      h2 {
        font-size: 24px;
        font-weight: 600;
      }
    }
    h4 {
      font-size: 14px;
    }
  }
  .service-1 {
    p {
      font-size: 18px;
    }
  }
  .service-4 .cont-text {
    padding-bottom: 75px;
  }
  .feature, .experience, .part-name {
    h2 {
      font-size: 36px;
      font-weight: 600;
    }
  }
  .feature {
    padding-top: 25px;
  }
}
