<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117381769-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117381769-1');
  </script>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter48840533 = new Ya.Metrika({
                  id:48840533,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true,
                  webvisor:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48840533" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<meta property="og:title" content="СЧПУ DIANA-CNC">
<meta property="og:image" content="https://www.dianacnc.com/static/img/Без имени.png">
<meta property="og:description" content="ENTER YOUR DESCRIPTION HERE">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Модернизация, ремонт и производство станков на базе современной российской системы ЧПУ DIANA-CNC.{% endif %}"/>
 <!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
  [ {
    "@context" : "http://schema.org",
    "@type" : "Product",
    "name" : "система ЧПУ",
    "description" : "результатом разработки команды с\n               более чем  30-летним опытом выполнения работ по автоматизации\n               производства и соответствует всем современным стандартам",
    "brand" : {
      "@type" : "Brand",
      "name" : "DIANA-CNC"
    }
  }, {
    "@context" : "http://schema.org",
    "@type" : "Product",
    "name" : "Модернизация станков с ЧПУ",
    "description" : "Модернизация специального технологического оборудования с\n                    программным управлением путем замены системы ЧПУ"
  }, {
    "@context" : "http://schema.org",
    "@type" : "Product",
    "name" : "Ремонт технологического оборудования",
    "image" : "http://www.dianacnc.com/static/img/repair.png",
    "description" : "Любые виды ремонта электронной составляющей специального\n                    технологического оборудования, в том числе случайных\n                    неисправностей, программно-аппаратных колец обратной связи,\n                    поиск неисправностей в схемах, содержащих элементы с\n                    недокументированной функцией, неисправности, когда\n                    полностью или частично теряется информация в носителях\n                    программное обеспечение, а копий по разным причинам нет."
  } ]
  </script>
  <title>
  {% if page.title  %}
  {{ page.title }}
  {% else %}
  DIANA-CNC - Система ЧПУ
  {% endif %}
  </title>
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900,300italic,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/{{ page.cssname }}.css">
  
</head>
<body>
  <!-- Block nav -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="http://www.dianacnc.com">
          <img alt="Brand" src="/static/img/{{ page.logo }}">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{ page.activemain }}"><a href="/">Главная<span class="sr-only">(current)</span></a></li>
          <li class="{{ page.activeworks }}"><a href="/works/">Работы</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End block nav-->
  {{ content }}
  <!-- Block footer -->
  <div class="footer" id="contacts">
    <div class="container">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div>
          <h4><img alt="address:" src="/static/img/fb-logo.png" /><a href="https://www.facebook.com/dianacncrus/" style="color: #fff" target="_blank">facebook.com/dianacncrus/</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div>
          <h4>
              <div class="center-block">
                <div><img alt="telephone:" src="/static/img/tele.png" /></div>
                <div>+7(8412)70-91-48</br>+7(963)105-07-92</div>
              </div>
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div>
          <h4><img alt="e-mail:" src="/static/img/mail.png" /><a style="color: #fff" href="mailto:info@dianacnc.com">info@dianacnc.com</a></h4>
        </div>
      </div>
    </div>
    <div class="year">
      <p>2018, DIANACNC</p>
    </div>
  </div>
  <!-- End block footer-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
